*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #A384FF;
  color: #000000;
}



a {
  text-decoration: none;
}

svg,
img {
  width: 100%;
  //height: auto;
}

img,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
  &:focus {
    border: 0;
  }
}

body {
  width: 100%;
  background-color: #01040D;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #0D0E14;
}

::-webkit-scrollbar-thumb {
  background-color: #A384FF;
  border-radius: 3px;
}
